@font-face {
  font-family: "iconfont"; /* Project id 2722865 */
  src: url('iconfont.woff2?t=1629340882036') format('woff2'),
       url('iconfont.woff?t=1629340882036') format('woff'),
       url('iconfont.ttf?t=1629340882036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e613";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-jiantou9:before {
  content: "\e60b";
}

.icon-suiji:before {
  content: "\e7b8";
}

.icon-pinglun2:before {
  content: "\e603";
}

.icon-xihuan:before {
  content: "\e617";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-gengduo1:before {
  content: "\e689";
}

.icon-xiazai:before {
  content: "\e6d2";
}

.icon-bofangshu:before {
  content: "\e665";
}

.icon-play_icon:before {
  content: "\e667";
}

.icon-bofangsanjiaoxing:before {
  content: "\e769";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-wenhao:before {
  content: "\e64e";
}

.icon-iconfontzhizuobiaozhun023146:before {
  content: "\e694";
}

.icon-xuanzhong:before {
  content: "\e606";
}

.icon-VIP:before {
  content: "\e69d";
}

.icon-fanhui:before {
  content: "\e612";
}

.icon-liebiao:before {
  content: "\e81c";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-gengduo:before {
  content: "\e614";
}

.icon-zhibo1:before {
  content: "\e74f";
}

.icon-paihang:before {
  content: "\e898";
}

.icon-zhibo:before {
  content: "\e602";
}

.icon-weibiaoti--:before {
  content: "\e60f";
}

.icon-menu:before {
  content: "\e67c";
}

.icon-sousuo:before {
  content: "\e695";
}

.icon-bofang:before {
  content: "\e621";
}

.icon-gedan:before {
  content: "\e600";
}

.icon-diantai:before {
  content: "\e601";
}

.icon-tuijian:before {
  content: "\e63b";
}

.icon-caidan:before {
  content: "\e61d";
}

